.portStyle a img{
width:200px;
height: 300px;

}
.cartstyle{
    border: 3px solid red;
    height: 300px;
    z-index: 1;
}
.portfolio img{
    cursor: pointer;
}
.portfolio img:hover{
    width:240px;
    shadow: 5px 5px 5px orangered;
    
}